# server
output/
*.html
*.exe
tweego-editor

# go file
go.sum
vendor/

# other
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# log file
*.log

# temporary file
tmp/
temp/
*.tmp

# test
test/harlowe/
*.sh
*.twee
formats/harlowe/evaluator_test.go
formats/harlowe/literals_test.go
formats/harlowe/conditionals_test.go